@import controllers.app.{routes => appRoutes}
@import models.create.CreateTracklist

@(tracklistForm: play.data.Form[CreateTracklist])

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("New Tracklist") {
  <div class="card mt-5">
    <h3 class="card-header">New Tracklist</h3>
    <div class="card-block">
    @b4.form(appRoutes.TracklistController.addSubmit()) {
      <fieldset>
        @b4.text(tracklistForm("name"), '_label -> "Name", 'placeholder -> "Name")
        @b4.file(tracklistForm("image"), '_label -> "Image")
        @b4.inputWrapped("text", tracklistForm("performed"), '_label -> "Performed") { input =>
          <div class="input-group date">
            @input
            <div class="input-group-addon"><i class="fa fa-calendar" title="Performed" aria-hidden="true"></i></div>
          </div>
        }
        @b4.submit('class -> "btn btn-primary") { Create tracklist }
      </fieldset>
    }
    </div>
  </div>
}
