@(tracklists: List[Tracklist])

@main("List Tracklists") {
  <h1>Tracklists</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
        <th>Genre(s)</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    @for(tracklist <- tracklists) {
      <tr>
        <td><a href="@routes.TracklistController.view(tracklist.getId)">@tracklist.getName</a></td>
        <td><a href="@routes.UserController.view(tracklist.getUser.getId)">@tracklist.getUser.getDisplayName</a></td>
        <td>
          <ul>
            @for(genre <- tracklist.getGenres) {
              <li><a href="">@genre.getName</a></li>
            }
          </ul>
        </td>
        <td class="text-right">
          <a href="@routes.TracklistController.edit(tracklist.getId)" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          <a href="@routes.TracklistController.delete(tracklist.getId)" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <a href="@routes.TracklistController.add" class="btn btn-xs btn-primary">
            New Tracklist <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
}
