@(tracklists: com.avaje.ebean.PagedList[Tracklist])

@main("Tracklists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index()">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.TracklistController.index(1)">Tracklists</a></li>
  </ol>

  <h1>Latest Tracklists</h1>
  @if(tracklists.getTotalRowCount > 0) {
    <div class="list-group">
    @for(tracklist <- tracklists.getList) {
      <a href="@routes.TracklistController.view(tracklist.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">@tracklist.getArtists.map(_.getName).mkString(", ")</h5>
          <small>@tracklist.getPerformedDaysAgo days ago</small>
        </div>
        <p class="mb-1">@tracklist.getName</p>
        <small>@tracklist.getUser.getDisplayName</small>
      </a>
    }
    </div>

    <nav class="mt-2" aria-label="Pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item @if(!tracklists.hasPrev) {disabled}">
          <a class="page-link" @if(tracklists.hasPrev) {href="@routes.TracklistController.index(tracklists.getPageIndex)"} else {tabindex="-1"}>&laquo;</a>
        </li>

        @for(i <- 1 until (tracklists.getTotalPageCount + 1)) {
          <li class="page-item @if((i - 1) == tracklists.getPageIndex) {active}">
            <a class="page-link" href="@routes.TracklistController.index(i)">@(i)</a>
          </li>
        }

        <li class="page-item @if(!tracklists.hasNext) {disabled}">
          <a class="page-link" @if(tracklists.hasNext) {href="@routes.TracklistController.index(tracklists.getPageIndex + 2)"} else {tabindex="-1"}>&raquo;</a>
        </li>
      </ul>
    </nav>
  } else {
    <div class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">No tracklists found.</h5>
        </div>
      </div>
    </div>
  }
}
