@import controllers.app.{routes => appRoutes}

@(tracklist: Tracklist)

@renderArtist(artist: models.Artist) = {
  <strong><a href="@appRoutes.ArtistController.view(artist.getSlug)">@artist.getName</a></strong>
}

@main(tracklist.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index()">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.TracklistController.index()">Tracklists</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.TracklistController.view(tracklist.getId)">@tracklist.getName</a></li>
  </ol>

  <h1>@tracklist.getName</h1>

  <!-- media tabs -->
  <div class="">
    <div class="media my-2">
      <ul class="nav nav-tabs" role="tablist">
        @for((media, i) <- tracklist.getMedias.zipWithIndex) {
          <li class="nav-item"><a href="#tab-@media.getId" class="nav-link @if(i == 0) {active}" data-toggle="tab">@media.getType</a></li>
        }
      </ul>
      <div class="tab-content">
      @for((media, i) <- tracklist.getMedias.zipWithIndex) {
        <div class="tab-pane @if(i == 0) {active}" id="tab-@media.getId" role="tabpanel">
          @if(media.getType == "soundcloud") {
            <object height="81" width="100%">
              <param name="movie"
              value="http://player.soundcloud.com/player.swf?{ ADD YOUR PARAMETERS HERE }&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293"></param>
              <param name="allowscriptaccess" value="always"></param>
              <embed
              src="http://player.soundcloud.com/player.swf?{ ADD YOUR PARAMETERS HERE }&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293"
              allowscriptaccess="always" height="81"  type="application/x-shockwave-flash" width="100%">
              </embed>
            </object>
          }
          @if(media.getType == "mixcloud") {
            <iframe src="@media.getUrl"></iframe>
          }
          @if(media.getType == "youtube") {

          }
        </div>
      }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="@routes.Assets.versioned(tracklist.getImageLink)" alt="@tracklist.getName">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
          @for(artist <- tracklist.getArtists) {
            <a href="@appRoutes.ArtistController.view(artist.getSlug)">@artist.getName</a>,
          }
          </h5>
          <small>@tracklist.getPerformed</small>
        </div>
        <p class="mb-1">@tracklist.getGenres.map(_.getName).mkString(", ")</p>
        <small><i class="fa fa-user" title="@tracklist.getUser.getUsername" aria-hidden="true"></i> @tracklist.getUser.getUsername</small>
      </div>
    </div>

    <div class="col-sm-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Artists</th>
            <th>Title</th>
            <th>Remixers</th>
            <th>Label</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          @for(track <- tracklist.getTracks) {
            <tr>
              <td>@{track.getArtists.map(renderArtist)}</td>
              <td>@partials.tracklink(track)</td>
              <td>@{track.getRemixers.map(renderArtist)}</td>
              <td><a href="@appRoutes.LabelController.view(track.getLabel.getSlug)">@track.getLabel.getName</a></td>
              <td>
                <div>
                  <a href="" class="btn btn-sm btn-success" title="Add Track"><i class="fa fa-plus" title="New Track" aria-hidden="true"></i></a>
                  <a href="" class="btn btn-sm btn-warning" title="Suggest Correction"><i class="fa fa-pencil-square-o" title="Correction" aria-hidden="true"></i></a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
