@(tracklist: Tracklist)

@renderArtist(artist: models.Artist) = {
  <strong><a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a></strong>
}

@main(tracklist.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.TracklistController.index">Tracklists</a></li>
    <li class="breadcrumb-item active"><a href="@routes.TracklistController.view(tracklist.getId)">@tracklist.getName</a></li>
  </ol>

  <h1>@tracklist.getName</h1>

  <div class="media">
    <ul>
    @for(media <- tracklist.getMedias) {
      <li><a href="@media.getUrl">@media.getUrl</a></li>
    }
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="@routes.Assets.versioned(tracklist.getImageLink)" alt="@tracklist.getName">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
          @for(artist <- tracklist.getArtists) {
            <a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a>,
          }
          </h5>
          <small>@tracklist.getPerformed</small>
        </div>
        <p class="mb-1">@tracklist.getGenres.map(_.getName).mkString(", ")</p>
        <small>@tracklist.getUser.getDisplayName</small>
      </div>
    </div>

    <div class="col-sm-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Artists</th>
            <th>Title</th>
            <th>Remixers</th>
            <th>Label</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          @for(track <- tracklist.getTracks) {
            <tr>
              <td>@{track.getArtists.map(renderArtist)}</td>
              <td>@partials.tracklink(track)</td>
              <td>@{track.getRemixers.map(renderArtist)}</td>
              <td><a href="@routes.LabelController.view(track.getLabel.getId)">@track.getLabel.getName</a></td>
              <td>
                <a href="" class="btn btn-sm btn-success" title="Add Track"><i class="fa fa-plus" title="New Track" aria-hidden="true"></i></a>
                <a href="" class="btn btn-sm btn-warning" title="Suggest Correction"><i class="fa fa-pencil-square-o" title="Correction" aria-hidden="true"></i></span></a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
