@(genre: models.Genre)

@main(genre.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.GenreController.index">Genres</a></li>
    <li class="breadcrumb-item active"><a href="@routes.GenreController.view(genre.getSlug)">@genre.getName</a></li>
  </ol>

  <h1>Top @genre.getName Tracklists</h1>
  <div class="list-group">
  @for(tracklist <- genre.getTracklists) {
    <a href="@routes.TracklistController.view(tracklist.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@tracklist.getArtists.map(_.getName).mkString(", ")</h5>
        <small>@tracklist.getPerformedDaysAgo days ago</small>
      </div>
      <p class="mb-1">@tracklist.getName</p>
      <small>@tracklist.getUser.getDisplayName</small>
    </a>
  }
  </div>
}
