@import controllers.app.{routes => appRoutes}
@import models.create.CreateProgram

@(
  programForm: play.data.Form[CreateProgram],
  channel: Channel
)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("New Program") {
  <div class="card mt-5">
    <h3 class="card-header">New Program</h3>
    <div class="card-block">
    @b4.form(appRoutes.ProgramController.addSubmit(channel.getSlug)) {
      <fieldset>
        @b4.text(programForm("name"), '_label -> "Name", 'placeholder -> "Name")
        @b4.file(programForm("image"), '_label -> "Image")
        @b4.textarea(programForm("description"), '_label -> "Description", 'placeholder -> "Description", 'rows -> "10")
        @b4.submit('class -> "btn btn-primary") { Create program }
      </fieldset>
    }
    </div>
  </div>
}
