@(programs: java.util.List[Program], channel: Channel)

@main("@channel.getName Programs") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ProgramController.index(channel.getId)">@channel.getName Programs</a></li>
  </ol>

  <h1>@channel.getName Programs</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hosts</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    @for(program <- programs) {
      <tr>
        <td><a href="@routes.ProgramController.view(program.getId)">@program.getName</a></td>
        <td>
        @for(host <- program.getHosts) {
          <a href="@routes.ArtistController.view(host.getId)">@host.getName</a>,
        }
        </td>
        <td class="text-right">
          <a href="@routes.ProgramController.editForm(program.getId)" class="btn btn-xs btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <a href="@routes.ProgramController.delete(program.getId)" class="btn btn-xs btn-danger">
            <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a href="@routes.ProgramController.addForm(channel.getId)" class="btn btn-sm btn-primary">
            New Program <i class="fa fa-plus" title="New Program" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
}
