@import controllers.app.{routes => appRoutes}

@(program: Program)

@main(program.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.ChannelController.view(program.getChannel.getSlug)">@program.getChannel.getName</a></li>
    <li class="breadcrumb-item active">@program.getName</li>
  </ol>

  <h1>@program.getName</h1>
  <p><img src="@routes.Assets.versioned(program.getImageLink)" alt="@program.getName">@program.getDescription</p>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td>@program.getName</td>
      </tr>
      <tr>
        <td>Hosts</td>
        <td>
        @for(host <- program.getHosts) {
          <a href="@appRoutes.ArtistController.view(host.getSlug)">@host.getName</a>,
        }
        </td>
      </tr>
      <tr>
        <td>Channel</td>
        <td><a href="@appRoutes.ChannelController.view(program.getChannel.getSlug)">@program.getChannel.getName</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <a href="@appRoutes.ProgramController.editForm(program.getSlug)" class="btn btn-sm btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit"></i>
          </a>
          <a href="@appRoutes.ProgramController.delete(program.getSlug)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash" title="Delete"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}
