@(artists: com.avaje.ebean.PagedList[Artist])

@main("All Artists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index()">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ArtistController.index(1)">Artists</a></li>
  </ol>

  <h1>Artists</h1>

  <div class="row">
  @if(artists.getTotalRowCount == 0) {
    <div class="col-sm-12">
      <div class="alert alert-warning" role="alert">
        <h3 class="alert-heading">No artists found</h3>
      </div>
    </div>
  } else {
    @for(artist <- artists.getList) {
      <div class="col-md-4 col-lg-3">
        <a href="@routes.ArtistController.view(artist.getSlug)" class="card card-inverse my-2">
          <img class="card-img" src="@routes.Assets.versioned(artist.getImageLink)" alt="@artist.getName" style="height: 15rem;">
          <div class="card-img-overlay">
            <h3 class="card-title">@artist.getName</h3>
          </div>
        </a>
      </div>
    }
  }
  </div>

  <nav class="mt-2" aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item @if(!artists.hasPrev) {disabled}">
        <a class="page-link" @if(artists.hasPrev) {href="@routes.ArtistController.index(artists.getPageIndex)"} tabindex="-1">&laquo;</a>
      </li>

      @for(i <- 1 until (artists.getTotalPageCount + 1)) {
        <li class="page-item @if((i - 1) == artists.getPageIndex) {active}">
          <a class="page-link" href="@routes.ArtistController.index(i)">@(i)</a>
        </li>
      }

      <li class="page-item @if(!artists.hasNext) {disabled}">
        <a class="page-link" @if(artists.hasNext) {href="@routes.ArtistController.index(artists.getPageIndex + 2)"}>&raquo;</a>
      </li>
    </ul>
  </nav>
}
