@(artists: com.avaje.ebean.PagedList[Artist])

@import controllers.app.{routes => appRoutes}

@main("All Artists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index()">Home</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.ArtistController.index()">Artists</a></li>
  </ol>

  <h1>Artists</h1>
  @if(artists.getTotalRowCount > 0) {
    <div class="row">
    @for(artist <- artists.getList) {
      <div class="col-md-4 col-lg-3 my-2">
        <a href="@appRoutes.ArtistController.view(artist.getSlug)" class="card card-inverse card-dark">
          <div class="d-flex">
            @if(artist.getImage != null) {
              <img class="card-img" src="@routes.Assets.versioned(artist.getImageLink)" alt="@artist.getName">
            } else {
              <span class="align-self-center ml-auto mr-auto">
                <i class="fa fa-headphones fa-5x" aria-hidden="true"></i>
              </span>
            }
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title">@artist.getName</h3>
          </div>
        </a>
      </div>
    }
    </div>

    <nav class="mt-2" aria-label="Pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item @if(!artists.hasPrev) {disabled}">
          <a class="page-link" @if(artists.hasPrev) {href="@appRoutes.ArtistController.index(artists.getPageIndex)" }  else {tabindex="-1"}>&laquo;</a>
        </li>

        @for(i <- 1 until (artists.getTotalPageCount + 1)) {
          <li class="page-item @if((i - 1) == artists.getPageIndex) {active}">
            <a class="page-link" href="@appRoutes.ArtistController.index(i)">@(i)</a>
          </li>
        }

        <li class="page-item @if(!artists.hasNext) {disabled}">
          <a class="page-link" @if(artists.hasNext) {href="@appRoutes.ArtistController.index(artists.getPageIndex + 2)" } else {tabindex="-1"}>&raquo;</a>
        </li>
      </ul>
    </nav>
  } else {
    <div class="alert alert-warning" role="alert">
      <h3 class="alert-heading">No artists found</h3>
      <p class="mb-0">Sorry we couldn't find any artists.</p>
    </div>
  }
}
