@(artists: java.util.List[Artist])

@main("List Artists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ArtistController.index">Artists</a></li>
  </ol>

  <h1>Artists</h1>

  <div class="row">
  @for(artist <- artists) {
    <div class="col-sm-6 col-md-4">
      @if(artist.getImage != null) {
        <img class="d-flex mr-3" src="@routes.Assets.versioned(artist.getImageLink)" alt="@artist.getName">
      }
      <div class="caption">
        <h3>@artist.getName</h3>
        <p>@artist.getDescription</p>
        <p><a href="@routes.ArtistController.view(artist.getId)" class="btn btn-primary" role="button">Explore</a></p>
      </div>
    </div>
  }
  </div>
}
