@(artist: Artist, tracklists: com.avaje.ebean.PagedList[Tracklist])

@import controllers.app.{routes => appRoutes}

@main("Tracklists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.ArtistController.index()">Artists</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.ArtistController.view(artist.getSlug)">@artist.getName</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.ArtistController.tracklist(artist.getSlug)">Tracklists</a></li>
  </ol>

  <h1>@artist.getName's Tracklists</h1>
  <div class="list-group">
  @if(tracklists.getTotalRowCount == 0) {
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">No tracklists found.</h5>
      </div>
    </div>
  } else {
    @for(tracklist <- tracklists.getList) {
      <a href="@appRoutes.TracklistController.view(tracklist.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">@tracklist.getArtists.map(_.getName).mkString(", ")</h5>
          <small>@tracklist.getPerformedDaysAgo days ago</small>
        </div>
        <p class="mb-1">@tracklist.getName</p>
        <small>@tracklist.getUser.getDisplayName</small>
      </a>
    }
  }
  </div>

  <nav class="mt-2" aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item @if(!tracklists.hasPrev) {disabled}">
        <a class="page-link" @if(tracklists.hasPrev) {href="@appRoutes.ArtistController.tracklist(artist.getSlug, tracklists.getPageIndex)"} tabindex="-1">&laquo;</a>
      </li>

      @for(i <- 1 until (tracklists.getTotalPageCount + 1)) {
        <li class="page-item @if((i - 1) == tracklists.getPageIndex) {active}">
          <a class="page-link" href="@appRoutes.ArtistController.tracklist(artist.getSlug, i)">@(i)</a>
        </li>
      }

      <li class="page-item @if(!tracklists.hasNext) {disabled}">
        <a class="page-link" @if(tracklists.hasNext) {href="@appRoutes.ArtistController.tracklist(artist.getSlug, tracklists.getPageIndex + 2)"}>&raquo;</a>
      </li>
    </ul>
  </nav>
}