@(artist: Artist)

@main(artist.getName + " Tracklists") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.ArtistController.index()">Artists</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ArtistController.view(artist.getSlug)">@artist.getName</a></li>
  </ol>

  <h1>@artist.getName</h1>

  <div class="row">
    <div class="col-md-4">
      @if(artist.getImage != null) {
        <img class="d-flex mr-3" src="@routes.Assets.versioned(artist.getImageLink)" alt="@artist.getName">
      }
      <p>@artist.getDescription</p>
      <ul>
      @for(media <- artist.getMedias) {
        <li>
          <a href="@media.getUrl">@media.getUrl</a>
        </li>
      }
      </ul>
    </div>

    <div class="col-md-8">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a href="#tracklists" class="nav-link active" data-toggle="tab">Tracklists</a></li>
        <li class="nav-item"><a href="#tracks" class="nav-link" data-toggle="tab">Tracks</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tracklists" role="tabpanel">
          <h2>Popular Tracklists</h2>
          @if(artist.getTracklists.size() > 0) {
            <div class="list-group">
            @for(tracklist <- artist.getTracklists) {
              <a href="@routes.TracklistController.view(tracklist.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">@tracklist.getName</h5>
                  <small>@tracklist.getPerformedDaysAgo days ago</small>
                </div>
                <p class="mb-1">@tracklist.getPerformed</p>
                <small>
                  <i class="fa fa-user" title="@tracklist.getUser.getDisplayName" aria-hidden="true"></i>
                  @tracklist.getUser.getDisplayName
                </small>
              </a>
            }
            </div>

            <div class="my-2">
              <a href="@routes.ArtistController.tracklist(artist.getSlug)" class="btn btn-primary">View All Tracklists</a>
            </div>
          } else {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">No tracklists found.</h5>
              </div>
            </div>
          }
        </div>

        <div class="tab-pane" id="tracks" role="tabpanel">
          <h2>Popular Tracks</h2>
          <div class="list-group">
          @if(artist.getTracks.size() > 0) {
            @for(track <- artist.getTracks) {
              <a href="@routes.TrackController.view(track.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">@track.getName</h5>
                </div>
              </a>
            }
          </div>

          <div class="my-2">
            <a href="@routes.ArtistController.track(artist.getSlug)" class="btn btn-primary">View All Tracks</a>
          </div>
          } else {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">No tracks found.</h5>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
