@(artist: Artist)

@main(artist.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.ArtistController.index">Artists</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a></li>
  </ol>

  <h1>@artist.getName</h1>

  <div class="row">
    <div class="col-md-4">
      @if(artist.getImage != null) {
        <img class="d-flex mr-3" src="@routes.Assets.versioned(artist.getImage)" alt="@artist.getName">
      }
      <p>@artist.getDescription</p>
      <ul>
      @for(media <- artist.getMedias) {
        <li>
          <a href="@media.getUrl">@media.getUrl</a>
        </li>
      }
      </ul>
    </div>

    <div class="col-md-8">
      <h2>Tracklists</h2>
      <div class="card-group">
      @for(tracklist <- artist.getTracklists) {
        <div class="card">
          <a href="@routes.TracklistController.view(tracklist.getId)">
            <div class="card-block">
              <h5>@tracklist.getName</h5>
              <p>@tracklist.getDate</p>
              <p>@tracklist.getUser.getDisplayName</p>
            </div>
          </a>
        </div>
      }
      </div>
    </div>
  </div>
}
