@(channels: com.avaje.ebean.PagedList[Channel])

@main("All Channels") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ChannelController.index(1)">Channels</a></li>
  </ol>

  <h1>Channels</h1>

  <div class="row">
  @if(channels.getTotalRowCount == 0) {
    <div class="col-sm-12">
      <div class="alert alert-warning" role="alert">
        <h3 class="alert-heading">No channels found</h3>
      </div>
    </div>
  } else {
    @for(channel <- channels.getList) {
    <div class="col-sm-6 col-lg-3">
      <a href="@routes.ChannelController.view(channel.getSlug)" class="card card-inverse card-dark my-2">
        <img class="card-img" src="@routes.Assets.versioned(channel.getImageLink)" alt="@channel.getName"  style="height: 15rem;">
        <div class="card-block"style="height: 15rem;">
          <h3 class="card-title">@channel.getName</h3>
          <p class="card-text">@channel.getDescription</p>
        </div>
      </a>
    </div>
    }
  }
  </div>

  <nav class="mt-2" aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item @if(!channels.hasPrev) {disabled}">
        <a class="page-link" @if(channels.hasPrev) {href="@routes.ChannelController.index(channels.getPageIndex)"} tabindex="-1">&laquo;</a>
      </li>

      @for(i <- 1 until (channels.getTotalPageCount + 1)) {
        <li class="page-item @if((i - 1) == channels.getPageIndex) {active}">
          <a class="page-link" href="@routes.ChannelController.index(i)">@(i)</a>
        </li>
      }

      <li class="page-item @if(!channels.hasNext) {disabled}">
        <a class="page-link" @if(channels.hasNext) {href="@routes.ChannelController.index(channels.getPageIndex + 2)"}>&raquo;</a>
      </li>
    </ul>
  </nav>
}
