@(channels: java.util.List[models.Channel])

@main("Channels") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ChannelController.index">Channels</a></li>
  </ol>

  <h1>Channels</h1>

  <div class="row">
  @for(channel <- channels) {
    <div class="col-sm-6 col-md-4">
      @if(channel.getImage != null) {
        <img class="d-flex mr-3" src="@routes.Assets.versioned(channel.getImageLink)" alt="@channel.getName">
      }
      <div class="caption">
        <h3>@channel.getName</h3>
        <p>@channel.getDescription</p>
        <p><a href="@routes.ChannelController.view(channel.getRoute)" class="btn btn-primary" role="button">Explore</a></p>
      </div>
    </div>
  }
  </div>
}
