@(channel: models.Channel)

@main(channel.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.ChannelController.index">Channels</a></li>
    <li class="breadcrumb-item active"><a href="@routes.ChannelController.view(channel.getId)">@channel.getName</a></li>
  </ol>

  <div class="media mb-5">
    @if(channel.getImage != null) {
      <img class="d-flex mr-3" src="@routes.Assets.versioned(channel.getImageLink)" alt="@channel.getName">
    }
    <div class="media-body">
      <h1>@channel.getName</h1>
      @channel.getDescription
    </div>
  </div>

  <div class="row">
  @for(program <- channel.getPrograms) {
    <div class="col-sm-4">
      <a href="@routes.ProgramController.view(program.getId, channel.getId)" class="card">
        <img src="@routes.Assets.versioned(program.getImageLink)" alt="@program.getName" class="card-img-top">
        <div class="card-block">
          <h3 class="card-title">@program.getName</h3>
          <p class="card-text">@program.getTruncatedDescription</p>
        </div>
      </a>
    </div>
  }
  </div>
}
