@import controllers.app.{routes => appRoutes}

@(channel: models.Channel)

@main(channel.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.ChannelController.index()">Channels</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.ChannelController.view(channel.getSlug)">@channel.getName</a></li>
  </ol>

  <div class="media mb-5">
    @if(channel.getImage != null) {
      <img class="d-flex mr-3" src="@routes.Assets.versioned(channel.getImageLink)" alt="@channel.getName">
    }
    <div class="media-body">
      <h1>@channel.getName</h1>
      @channel.getDescription
    </div>

    <!-- edit/delete -->
    <div class="btn-group" role="group">
      <a href="@appRoutes.ChannelController.editForm(channel.getSlug)" class="btn btn-sm btn-warning">
        <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
      </a>
      <form action="@appRoutes.ChannelController.delete(channel.getSlug)" method="post">
        <button type="submit" class="btn btn-sm btn-danger">
          <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="row">
  @for(program <- channel.getPrograms) {
    <div class="col-sm-4">
      <a href="@appRoutes.ProgramController.view(program.getSlug)" class="card">
        <img src="@routes.Assets.versioned(program.getImageLink)" alt="@program.getName" class="card-img-top">
        <div class="card-block">
          <h3 class="card-title">@program.getName</h3>
          <p class="card-text">@program.getTruncatedDescription</p>
        </div>
      </a>
    </div>
  }
  </div>
}
