@(users: List[User])

@main("List Users") {
  <h1>Users</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Display Name</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    @for(user <- users) {
      <tr>
        <td><a href="@routes.UserController.view(user.getId)">@user.getEmail</a></td>
        <td>@user.getDisplayName</td>
        <td>@user.getStatus</td>
        <td class="text-right">
          <a href="@routes.UserController.edit(user.getId)" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          <a href="@routes.UserController.delete(user.getId)" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <a href="@routes.UserController.add" class="btn btn-sm btn-primary">
            New User <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
}
