@import controllers.app.{routes => appRoutes}
@import models.create.CreateUser

@(registerForm: play.data.Form[CreateUser])

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Register") {
  <div class="card mt-5">
    <h3 class="card-header">Register</h3>
    <div class="card-block">
    @b4.form(appRoutes.UserController.registerSubmit()) {
      <fieldset>
        @b4.email(registerForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com")
        @b4.text(registerForm("displayName"), '_label -> "Display Name", 'placeholder -> "Display name")
        @b4.password(registerForm("password"), '_label -> "Password", 'placeholder -> "Password")
        @b4.submit('class -> "btn btn-primary") { Sign up }
      </fieldset>
    }
    </div>
  </div>
}
