@(id: Long, userForm: Form[User])

@main("Edit User") {
  <h1>Edit User</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><label for="email">Email</label></td>
        <td><input type="text" value="@user.getEmail" name="email" id="email"></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input type="text" value="@user.getPassword" name="password" id="password"></td>
      </tr>
      <tr>
        <td><label for="display_name"></label></td>
        <td><input type="text" value="@user.getDisplayName" name="display_name" id="display_name"></td>
      </tr>
      <tr>
        <td><label for="status"></label></td>
        <td><input type="text" value="@user.getStatus" name="status" id="status"></td>
      </tr>
    </tbody>
  </table>
}
