@import controllers.app.{routes => appRoutes}

@(user: User)

@main(user.getDisplayName) {
  <h1>@user.getDisplayName</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Email</th>
        <td>@user.getEmail</td>
      </tr>
      <tr>
        <th>Display Name</th>
        <td>@user.getDisplayName</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>@user.getStatus</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <a href="@appRoutes.UserController.editForm(user.getId)" class="btn btn-sm btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <a href="@appRoutes.UserController.delete(user.getId)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}
