@import controllers.app.{routes => appRoutes}
@import models.update.UpdateTrack

@(
  track: Track,
  trackForm: play.data.Form[UpdateTrack],
  genres: java.util.List[Genre],
  labels: java.util.List[Label]
)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@statuses =@{Seq("A" -> "Active", "I" -> "Inactive")}
@genreOpts =@{genres.map(g => g.getId.toString -> g.getName)}
@labelOpts =@{labels.map(l => l.getId.toString -> l.getName)}

@main("Edit " + track.getName) {
  <div class="card mt-5">
    <h3 class="card-header">Edit @track.getName</h3>
    <div class="card-block">
    @b4.form(appRoutes.TrackController.editSubmit(track.getId())) {
      <fieldset>
        @b4.text(trackForm("name"), '_label -> "Name", 'placeholder -> "Name", 'required -> true)
        @b4.text(trackForm("remixName"), '_label -> "Remix name")
        @b4.select(trackForm("genre.id"), options = genreOpts, '_label -> "Genre")
        @b4.select(trackForm("label.id"), options = labelOpts, '_label -> "Label")
        @b4.inputWrapped("text", trackForm("releaseDate"), '_label -> "Release date") { input =>
          <div class="input-group date">
            @input
            <div class="input-group-addon"><i class="fa fa-calendar" title="Release date" aria-hidden="true"></i></div>
          </div>
        }
        @b4.submit('class -> "btn btn-primary") { Update track }
      </fieldset>
    }
    </div>
  </div>
}
