@(tracks: java.util.List[models.Track])

@main("Tracks") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.TrackController.index">Tracks</a></li>
  </ol>

  <h1>Tracks</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artists</th>
        <th>Name</th>
        <th>Remixers</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    @for(track <- tracks) {
      <tr>
        <td>
        @for(artist <- track.getArtists) {
          <a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a>,
        }
        </td>
        <td><a href="@routes.TrackController.view(track.getId)">@track.getName</a></td>
        <td>@partials.tracklink(track)</td>
        <td>
        @for(remixer <- track.getRemixers) {
          <a href="@routes.ArtistController.view(remixer.getId)">@remixer.getName</a>,
        }
        </td>
        <td class="text-right">
          <a href="@routes.TrackController.edit(track.getId)" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          <a href="@routes.TrackController.delete(track.getId)" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a href="@routes.TrackController.add" class="btn btn-xs btn-primary">
            New Track <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
}
