@(track: Track)

@import controllers.app.{routes => appRoutes}

@main(track.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.TrackController.index">Tracks</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.TrackController.view(track.getId)">@track.getName</a></li>
  </ol>

  <h1>@track.getName</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Artists</th>
        <td>
          <ul>
          @for(artist <- track.getArtists) {
            <li>@artist.getName</li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <td>@partials.trackname(track)</td>
      </tr>
      <tr>
        <th>Remixers</th>
        <td>
          <ul>
          @for(remixer <- track.getRemixers) {
            <li>@remixer.getName</li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <a href="@appRoutes.TrackController.editForm(track.getId)" class="btn btn-sm btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <a href="@appRoutes.TrackController.delete(track.getId)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}
