@(track: Track)

@main(track.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.TrackController.index">Tracks</a></li>
    <li class="breadcrumb-item active"><a href="@routes.TrackController.view(track.getId)">@track.getName</a></li>
  </ol>

  <h1>@track.getName</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Artists</th>
        <td>
          <ul>
          @for(artist <- track.getArtists) {
            <li>@artist.getName</li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <td>@partials.trackname(track)</td>
      </tr>
      <tr>
        <th>Remixers</th>
        <td>
          <ul>
          @for(remixer <- track.getRemixers) {
            <li>@remixer.getName</li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <a href="@routes.TrackController.edit(track.getId)" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          <a href="@routes.TrackController.delete(track.getId)" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}
