@(label: Label, labelForm: play.data.Form[UpdateLabel])

@import controllers.app.{routes => appRoutes}

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Edit Label") {
  <div class="card mt-5">
    <h3 class="card-header">Edit Label</h3>
    <div class="card-block">
    @b4.form(appRoutes.LabelController.editSubmit(label.getSlug)) {
      <fieldset>
        @b4.text(labelForm("name"), '_label -> "Name", 'placeholder -> "Name")
        @b4.text(labelForm("image"), '_label -> "Image", 'placeholder -> "Image")
        @b4.textarea(labelForm("description"), '_label -> "Description", 'placeholder -> "Description", 'rows -> "10")
        @b4.submit('class -> "btn btn-primary") { Save }
      </fieldset>
    }
    </div>
  </div>
}
