@(labels: java.util.List[models.Label])

@main("Labels") {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item active"><a href="@routes.LabelController.index">Labels</a></li>
  </ol>

  <h1>Labels</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    @for(label <- labels) {
      <tr>
        <td><a href="@routes.LabelController.view(label.getId)">@label.getName</a></td>
        <td class="text-right">
          <a href="@routes.LabelController.editForm(label.getId)" class="btn btn-xs btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <a href="@routes.LabelController.delete(label.getId)" class="btn btn-xs btn-danger">
            <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a href="@routes.LabelController.addForm()" class="btn btn-sm btn-primary">
            New Artist <i class="fa fa-plus" title="New Artist" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
}
