@import controllers.app.{routes => appRoutes}

@(label: Label)

@main(label.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@appRoutes.ApplicationController.index()">Home</a></li>
    <li class="breadcrumb-item"><a href="@appRoutes.LabelController.index()">Labels</a></li>
    <li class="breadcrumb-item active"><a href="@appRoutes.LabelController.view(label.getSlug)">@label.getName</a></li>
  </ol>

  <h1>@label.getName</h1>

  <div class="media">
    <ul>
    @for(media <- label.getMedias) {
      <li><a href="@media.getUrl">@media.getUrl</a></li>
    }
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="@routes.Assets.versioned(label.getImageLink)" alt="@label.getName">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">@label.getName</h5>
          <small>@label.getDescription</small>
        </div>

          <!-- edit/delete -->
        <div class="btn-group" role="group">
          <a href="@appRoutes.LabelController.editForm(label.getSlug)" class="btn btn-sm btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <form action="@appRoutes.LabelController.delete(label.getSlug)" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
              <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="list-group">
      @for(track <- label.getTracks) {
        <a href="@appRoutes.TrackController.view(track.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@track.getArtists.map(_.getName).mkString(", ")</h5>
            <small>@track.getReleaseDate</small>
          </div>
          <p class="mb-1">@track.getName</p>
        </a>
      }
      </div>
    </div>
  </div>

}
