@(label: Label)

@main(label.getName) {
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@routes.ApplicationController.index">Home</a></li>
    <li class="breadcrumb-item"><a href="@routes.LabelController.index">Labels</a></li>
    <li class="breadcrumb-item active"><a href="@routes.LabelController.view(label.getId)">@label.getName</a></li>
  </ol>

  <h1>@label.getName</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td>@label.getName</td>
      </tr>
      <tr>
        <td>Tracks</td>
        <td>
          <ul>
          @for(track <- label.getTracks) {
            <li>
              <a href="@routes.TrackController.view(track.getId)">@track.getName</a>
            </li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <td>Media</td>
        <td>
          <ul>
          @for(media <- label.getMedias) {
            <li>
              <a href="@media.getUrl">@media.getUrl</a>
            </li>
          }
          </ul>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <a href="@routes.LabelController.edit(label.getId)" class="btn btn-xs btn-warning">
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          </a>
          <a href="@routes.LabelController.delete(label.getId)" class="btn btn-xs btn-danger">
            <i class="fa fa-trash" title="Delete" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}
