@(tracklists: java.util.List[models.Tracklist])

@renderArtist(artist: models.Artist) = {
  <strong><a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a></strong>
}

@main("Trainspotter") {
  <div class="row mt-2">
    <div class="col-sm-6">
      <div class="jumbotron mt-5">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
          <div class="form-group"></div>
        </form>
      </div>
    </div>

    <div class="col-sm-6">
      <h1>Top Tracklists</h1>
      <div class="list-group">
      @for(tracklist <- tracklists) {
        <a href="@routes.TracklistController.view(tracklist.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@tracklist.getArtists.map(_.getName).mkString(", ")</h5>
            <small>@tracklist.getPerformedDaysAgo days ago</small>
          </div>
          <p class="mb-1">@tracklist.getName</p>
          <small>@tracklist.getUser.getDisplayName</small>
        </a>
      }
      </div>
    </div>
  </div>
}
