@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(tracklists: java.util.List[models.Tracklist])

@renderArtist(artist: models.Artist) = {
  <strong><a href="@routes.ArtistController.view(artist.getId)">@artist.getName</a></strong>
}

@main("Trainspotter") {
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
          <div class="form-group"></div>
        </form>
      </div>
    </div>

    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><h3>Top Tracklists</h3></th>
          </tr>
        </thead>
        <tbody>
        @for(tracklist <- tracklists) {
          <tr>
            <td>
              <a href="@routes.TracklistController.view(tracklist.getId)">@tracklist.getName</a><br>
              @{tracklist.getArtists.map(renderArtist)}
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}
