@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

@import controllers.app.{routes => appRoutes}

@activeLink(currentPath: String) = @{
  if (request.path.contains(currentPath)) "active"
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trainspotter">
    <title>@title on Trainspotter</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-4.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <header class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
      <nav class="container">
        <div class="d-flex justify-content-between hidden-lg-up">
          <a class="navbar-brand" href="@appRoutes.ApplicationController.index()">Trainspotter</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!-- Nav bar -->
        <div id="mainNavigation" class="collapse navbar-collapse">
          <a class="navbar-brand" href="@appRoutes.ApplicationController.index()">Trainspotter</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item @activeLink(appRoutes.TracklistController.index().toString)">
              <a href="@appRoutes.TracklistController.index()" class="nav-link">Tracklists</a>
            </li>
            <li class="nav-item dropdown @activeLink(appRoutes.GenreController.index().toString)">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Genres</a>
              <div class="dropdown-menu">
                <a href="@appRoutes.GenreController.view("house")" class="dropdown-item">House</a>
                <a href="@appRoutes.GenreController.view("techno")" class="dropdown-item">Techno</a>
                <a href="@appRoutes.GenreController.view("deep-house")" class="dropdown-item">Deep House</a>
                <a href="@appRoutes.GenreController.view("tech-house")" class="dropdown-item">Tech House</a>
                <a href="@appRoutes.GenreController.view("progressive-house")" class="dropdown-item">Progressive House</a>
              </div>
            </li>
            <li class="nav-item @activeLink(appRoutes.ChannelController.index().toString)">
              <a href="@appRoutes.ChannelController.index()" class="nav-link">Channels</a>
            </li>
            <li class="nav-item @activeLink(appRoutes.ArtistController.index().toString)">
              <a href="@appRoutes.ArtistController.index()" class="nav-link">Artists</a>
            </li>
            <li class="nav-item @activeLink(appRoutes.LabelController.index().toString)">
              <a href="@appRoutes.LabelController.index()" class="nav-link">Labels</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="navbar-item dropdown">
            @if(session.get("email") == null) {
              <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Register/Login</a>
              <div class="dropdown-menu">
                <a href="@appRoutes.UserController.registerForm()" class="dropdown-item">
                  <i class="fa fa-user-plus" title="Profile" aria-hidden="true"></i>
                  Register
                </a>
                <a href="@appRoutes.UserController.loginForm()" class="dropdown-item">
                  <i class="fa fa-sign-in" title="Profile" aria-hidden="true"></i>
                  Login
                </a>
              </div>
            } else {
              <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user" title="@session.get("user_name")" aria-hidden="true"></i>
                @session.get("user_name")
              </a>
              <div class="dropdown-menu">
                <a href="@appRoutes.UserController.editForm(session.get("user_id").toLong)" class="dropdown-item">
                  <i class="fa fa-dashboard" title="Profile" aria-hidden="true"></i> Profile
                </a>
                <form action="@appRoutes.UserController.logout()" method="post">
                  <button type="submit" class="dropdown-item">
                    <i class="fa fa-sign-out" title="Profile" aria-hidden="true"></i> Logout
                  </button>
                </form>
              </div>
            }
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Search bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </nav>

      <!-- Main content -->
    <div class="container" role="main">@content</div>

    <footer class="footer text-muted">
      <div class="container">
        <ul class="footer-links">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
        <p>Footer text, ipsum ...</p>
      </div>
    </footer>

    <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/tether.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap-4.min.js")" type="text/javascript"></script>
  </body>
</html>
